<!DOCTYPE html>
<html>
  <head>
    <title>RailsHackerNewsCloneJt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-fixed">
      <nav>
        <h1>Hacker News Clone</h1>
        <%= link_to 'Home', root_path %>
        <% if logged_in? %>
          <%= link_to 'New Post', posts_new_path %>
          <%= link_to 'Logout', '#' %>
        <% else %>
          <%= link_to 'Create Account', '#' %>
          <%= link_to 'Login', '#' %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
