<h2>All Posts</h2>
<div class="posts-container">
  <% @posts.each do |post| %>
    <tr>
      <td><p><strong>Title:</strong> <%= post.title.upcase %></td>
      <td><strong>Description:</strong> <%= post.description %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', '#' %></td></p>
    </tr>
  <% end %>

<%= link_to 'New Post', posts_new_path %>

</div>
